@{
    ViewBag.CurrentPageTitle = "Error";
    var items = new string[] { "الرئيسية", "تفعيل الحساب" };
    ViewBag.MenuItems = items;
}


<div class="card card-item">
    <div class="card-body text-center">
        
        <p class="pb-30px">
            حدث خطأ اثناء الدفع
        </p> 
    </div><!-- end card-body -->
</div><!-- end card -->