@using Microsoft.Extensions.Options
@using Tolab.Common
@using System.Security.Claims;
@inject IOptions<ApplicationConfig> options;
@{
    var config = options.Value;

}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Tollab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>طلاب</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/tooltipster.bundle.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/style-rtl.css">
    <!-- end inject -->
</head>
<body>

    <!-- start cssload-loader -->
    <div class="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- end cssload-loader -->
    <!--======================================
            START HEADER AREA
        ======================================-->
    <header class="header-menu-area">
        <div class="header-menu-content bg-white">
            <div class="container">
                <div class="main-menu-content">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-box">
                                <a href="#" class="logo"><img src="images/logo.png" class="logoimg"></a>
                                <div class="user-btn-action">
                                    <div class="off-canvas-menu-toggle main-menu-toggle icon-element icon-element-sm shadow-sm" data-toggle="tooltip" data-placement="top">
                                        <i class="la la-bars"></i>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col-lg-2 -->
                        <div class="col-lg-10">
                            <div class="menu-wrapper">
                                <nav class="main-menu">
                                    <ul>
                                        <li>
                                            <a href="~/Home">الرئيسية</a>
                                        </li>
                                        <li>
                                            <a href="/lives">البث المباشر</a>
                                        </li>
                                    </ul><!-- end ul -->
                                </nav><!-- end main-menu -->
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <div class="nav-right-button border-right border-right-gray pl-4 mr-3">
                                        <ul class="generic-list-item">
                                            <li><a href="~/login">تسجيل الدخول</a></li>
                                            <li>أو</li>
                                            <li><a href="~/registerphone" class="btn theme-btn theme-btn-sm text-white"><i class="la la-user-plus mr-1"></i> انشاء حساب جديد</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="nav-right-button border-right border-right-gray pl-4">
                                        <div class="shop-cart user-profile-cart">
                                            <ul>
                                                <li>
                                                    <div class="shop-cart-btn pt-0 pb-0 d-flex align-items-center">
                                                        <div class="avatar-sm">
                                                            @if (string.IsNullOrEmpty(User.Claims.First(c => c.Type == "UserPhoto").Value))
                                                            {
                                                                <img class="rounded-full img-fluid" src="/images/defaultUser.png" alt="Avatar image">
                                                            }
                                                            else
                                                            {
                                                                <img class="rounded-full img-fluid" src="@config.MediaBaseUrl/ws/Images/StudentImages/@(User.Claims.First(c => c.Type == "UserPhoto").Value)" alt="Avatar image">
                                                            }
                                                        </div>
                                                        <div class="fs-14 lh-18 text-left ml-2">
                                                            مرحبا ,<br />
                                                            <b>
                                                                @User.Claims.First(c => c.Type == "UserName").Value
                                                            </b>
                                                        </div>
                                                    </div>
                                                    <ul class="cart-dropdown-menu after-none px-0 notification-dropdown-menu" style="right:-24px">
                                                        <li>
                                                            <ul class="generic-list-item">
                                                                <li>
                                                                    <a href="/Subjects/MyCourses" class="font-weight-bold">
                                                                        <i class="la la-file-video-o mr-1 la-lg"></i>دوراتي
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a class="d-block" href="~/Profile/Edit?userId=@User.Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value">
                                                                        <i class="la la-user mr-1"></i>الملف الشحصي
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="~/logout" class="font-weight-bold">
                                                                        <i class="la la-power-off mr-1 la-lg"></i>تسجيل خروج
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- end shop-cart -->
                                    </div><!-- end nav-right-button -->
                                }
                            </div><!-- end menu-wrapper -->
                        </div><!-- end col-lg-10 -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container -->
        </div><!-- end header-menu-content -->
        <div class="off-canvas-menu custom-scrollbar-styled main-off-canvas-menu">
            <div class="off-canvas-menu-close main-menu-close icon-element icon-element-sm shadow-sm" data-toggle="tooltip" data-placement="left">
                <i class="la la-times"></i>
            </div><!-- end off-canvas-menu-close -->
            <ul class="generic-list-item off-canvas-menu-list pt-90px">
                <li>
                    <a href="~/Home">الرئيسية</a>
                </li>
                <li>
                    <a href="/lives">البث المباشر</a>
                </li>
                <li>
                    <a class="d-block" href="#">
                        <i class="la la-power-off mr-1"></i>تسجيل خروج
                    </a>
                </li>
            </ul>
        </div><!-- end off-canvas-menu -->
        <div class="body-overlay"></div>
    </header><!-- end header-menu-area -->
    <!--======================================
            END HEADER AREA
    ======================================-->
    <!-- ================================
           START CONTACT AREA
    ================================= -->

    @RenderBody()

    <!-- ================================
           END CONTACT AREA
    ================================= -->
    <!-- ================================
             END FOOTER AREA
    ================================= -->
    <section class="footer-area pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 responsive-column-half">
                    <div class="footer-item">
                        <a href="#">
                            <img src="images/logo.png" class="footer__logo logoimg">
                        </a>
                        <ul class="generic-list-item pt-4">
                            <li><a href="#" class="direlang">+123 456 789</a></li>
                            <li><a href="#">inof@tollab.com</a></li>
                        </ul>
                        <h3 class="fs-20 font-weight-semi-bold pt-4 pb-3">تابعنا على</h3>
                        <ul class="social-icons social-icons-styled">
                            <li class="mr-1"><a href="#" class="facebook-bg"><i class="la la-facebook"></i></a></li>
                            <li class="mr-1"><a href="#" class="twitter-bg"><i class="la la-twitter"></i></a></li>
                            <li class="mr-1"><a href="#" class="instagram-bg"><i class="la la-instagram"></i></a></li>
                            <li class="mr-1"><a href="#" class="linkedin-bg"><i class="la la-linkedin"></i></a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-half">
                    <div class="footer-item">
                        <h3 class="fs-20 font-weight-semi-bold pb-2">روابط</h3>
                        <div class="divider border-bottom-0"><span></span></div>
                        <ul class="generic-list-item">
                            <li><a href="~/Home">الرئيسية</a></li>
                            <li><a href="/lives">البث المباشر</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-half">
                    <div class="footer-item">
                        <h3 class="fs-20 font-weight-semi-bold pb-2">البنود</h3>
                        <div class="divider border-bottom-0"><span></span></div>
                        <ul class="generic-list-item">
                            <li><a href="#">بنود الخصوصية</a></li>
                            <li><a href="#">الشروط والأحكام</a></li>
                        </ul>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
                <div class="col-lg-3 responsive-column-half">
                    <div class="footer-item">
                        <h3 class="fs-20 font-weight-semi-bold pb-2">تحميل التطبيق</h3>
                        <div class="divider border-bottom-0"><span></span></div>
                        <div class="mobile-app">
                            <p class="pb-3 lh-24">حمل التطبيق الخاص بنا على </p>
                            <a href="#" class="d-block mb-2 hover-s"><img src="images/appstore.png" alt="App store" class="img-fluid"></a>
                            <a href="#" class="d-block hover-s"><img src="images/googleplay.png" alt="Google play store" class="img-fluid"></a>
                        </div>
                    </div><!-- end footer-item -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->
        </div><!-- end container -->
        <div class="section-block"></div>
        <div class="copyright-content py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <p class="copy-desc text-center">&copy; جميع الحقوق محفوظة ل<a href="#">طلاب</a> 2021</p>
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyright-content -->
    </section><!-- end footer-area -->
    <!-- ================================
              END FOOTER AREA
    ================================= -->
    <!-- start scroll top -->
    <div id="scroll-top">
        <i class="la la-arrow-up" title="Go top"></i>
    </div>
    <!-- end scroll top -->
    <!-- template js files -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoint.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/main-rtl.js"></script>
</body>

</html>