
@{
    Layout = "_ErrorLayout";
}

<section class="error-area section--padding dot-bg overflow-hidden pt-70px bg-grligh">
    <div class="container">
        <div class="col-lg-7 mx-auto">
            <div class="error-content text-center">
                <div class="img404">
                    <img src="images/500.svg">
                </div>
                <div class="section-heading">
                    <h3 class="section__title pb-3 pt-50px">عذرًا! يوجد مشكلة خطأ بالخادم</h3>
                    <p class="section__desc">
                        يبدو أننا لا نستطيع العثور على الصفحة التي تبحث عنها ، ربما تم كسر الرابط الذي اتبعته ،
                        إنه غير متوفر مؤقتًا. أو يبدو أن عنوان موقع الويب الذي أدخلته غير صحيح.
                    </p>
                </div>
                <div class="btn-box pt-30px">
                    <a href="~/Home" class="btn theme-btn"><i class="la la-reply mr-1"></i> عودة للأقسام الرئيسية</a>
                </div>
            </div><!-- end error-content -->
        </div><!-- end col-lg-7 -->
    </div><!-- end container -->
</section><!-- end error-area -->