@{
    ViewBag.CurrentPageTitle = "عملية خاطئة";
    var items = new string[] { "الرئيسية", "عملية خاطئة" };
    ViewBag.MenuItems = items;
}


 
 
    <div class="col-lg-7 mx-auto">
        <div class="card card-item">
            <div class="card-body text-center">
                <div class="imgsucc">
                    <img src="images/error.svg">
                </div>
                <h3 class="section__title pb-10px mt-3">عملية خاطئة</h3>
                <p class="pb-30px">
                    خطأ في عملية الدفع
                </p>
                 
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col-lg-7 -->
 