@{
    ViewBag.CurrentPageTitle = "عملية غير مكتملة";
    var items = new string[] { "الرئيسية", "عملية غير مكتملة" };
    ViewBag.MenuItems = items;
}




<div class="col-lg-7 mx-auto">
    <div class="card card-item">
        <div class="card-body text-center">
             
            <h3 class="section__title pb-10px mt-3">عملية غير مكتملة</h3>
            <p class="pb-30px">
                برجاء مراجعة الدعم الفنى
            </p>

        </div><!-- end card-body -->
    </div><!-- end card -->
</div><!-- end col-lg-7 -->
