@model TolabPortal.Models.ForgotPasswordModel

@{
    ViewBag.CurrentPageTitle = "نسيت كلمة المرور";
    var items = new string[] { "الرئيسية", "نسيت كلمه المرور" };
    ViewBag.MenuItems = items;
}

<div class="col-lg-7 mx-auto">
    <div class="register-heading-content-wrap text-left">
        <div class="section-heading">
            <h2 class="notehead mb-2">ادخل كود التفعيل</h2>
            <p class="mb-4">تم ارسال رسالة نصية بها كود التفعيل الى تليفونك المحمول</p>
        </div><!-- end section-heading -->
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger2 alert-dismissible fade show course-alert-info">
            <div class="d-flex align-items-center">
                <i class="la la-info-circle fs-30 mr-2"></i> @ViewBag.ErrorMessage
            </div>
            <button type="button" class="close fs-20 pd-16" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true" class="la la-times"></span>
            </button>
        </div>
    }

    <div class="card card-item">
        <div class="card-body">
            <form method="post" asp-action="ForgotPasswordVerificationPost" asp-controller="Home" class="pt-2">
                <div class="input-box">
                    <label asp-for="ActivationCode" class="label-text txtbold">اكتب كود التفعيل</label>
                    <div class="form-group">
                        <input asp-for="ActivationCode" class="form-control form--control" type="text" required>
                        <span class="la la-comment input-icon"></span>
                    </div>
                    <input hidden asp-for="IdentityId" value="@Model.IdentityId" />    
                    <input hidden asp-for="Email" value="@Model.Email" />
                 </div><!-- end input-box -->
                <div class="btn-box">
                    <div class="d-flex align-items-center justify-content-between dsmblock">
                        <p>لم يصلك الكود ! <a href="~/login/ReSendVerificationCode?phoneKey=@Model.PhoneKey&phoneNumber=@Model.PhoneNumber" class="btn-text linkunder">ارسل مجدداً</a></p>
                        <button type="submit" class="btn theme-btn pullone">تم <i class="la la-arrow-right icon ml-1"></i></button>
                    </div>
                </div><!-- end btn-box -->
            </form>
        </div><!-- end card-body -->
    </div><!-- end card -->
</div>