@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Tollab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>طلاب</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.min.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="css/fancybox.css">
    <link rel="stylesheet" href="css/tooltipster.bundle.css">
    <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/style-rtl.css">
    <!-- end inject -->
</head>
<body>

    <!-- start cssload-loader -->
    <div class="preloader">
        <div class="loader">
            <svg class="spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <!-- end cssload-loader -->
    <!--======================================
            START HEADER AREA
        ======================================-->
    <header class="header-menu-area">
        <div class="header-menu-content bg-white">
            <div class="container">
                <div class="main-menu-content">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <div class="logo-box pt-20px pb-20px">
                                <a class="logo"><img src="images/logo.png" class="logoimg"></a>
                            </div>
                        </div><!-- end col-lg-2 -->
                        <div class="col-lg-10">
                            <div class="menu-wrapper">
                                <div class="nav-right-button border-right border-right-gray pl-4">
                                    <a href="#" class="d-inline-block"><img src="images/appstore.png" alt="App store" class="img-fluid"></a>
                                    <a href="#" class="d-inline-block"><img src="images/googleplay.png" alt="Google play store" class="img-fluid"></a>
                                </div><!-- end nav-right-button -->
                            </div><!-- end menu-wrapper -->
                        </div><!-- end col-lg-10 -->
                    </div><!-- end row -->
                </div>
            </div><!-- end container -->
        </div><!-- end header-menu-content -->
    </header><!-- end header-menu-area -->
    <!--======================================
            END HEADER AREA
    ======================================-->

    <section class="hero-area">
        <div class="">
            <div class="hero-slider-item hero-bg-1 homebg">
                <div class="container">
                    <div class="row">
                        <div class="hero-content text-left col-lg-7">
                            <div class="section-heading">
                                <h2 class="section__title text-white fs-65 lh-80 pb-3 pt-80px">مرحباً بك في <span class="text-purp">طلاب </span></h2>
                                <p class="section__desc text-white pb-4 pt-4">
                                    هو نظام معلومات لإدارة التعليم ومتابعة الكورسات حيث يتيح التطبيقفرص كبيرة للطلبة في أن يتواصلوا مع المقرر الدراسي خارج قاعة المحاضرات في أي مكان وفي أي وقت وذلك من خلال هذا النظام الإلكتروني الذي يؤمن له أدوات متنوعة للإطلاع على محتوى المادة العلمية للمقرر والتفاعل معها بطرق ميسره بالإضافة إلى التواصل مع أستاذ المقرر.
                                </p>
                            </div><!-- end section-heading -->
                            <div class="hero-btn-box d-flex flex-wrap align-items-center pt-1">
                                <a href="~/Login" class="btn theme-btn mr-4 mb-4 wsmtwo100">دخول لحسابك  <i class="la la-arrow-right icon ml-1"></i></a>
                            </div><!-- end hero-btn-box -->
                        </div><!-- end hero-content -->
                        <div class="col-lg-5 ml-auto">
                            <div class="mobsm">
                                <img src="images/mobile.png" width="300">
                            </div><!-- end card -->
                        </div><!-- end hero-content -->
                    </div><!-- end container -->
                </div><!-- end container -->
            </div><!-- end hero-slider-item -->
        </div><!-- end hero-slide -->
    </section><!-- end hero-area -->
    <!-- ================================
             END FOOTER AREA
    ================================= -->
    <section class="footer-area pt-0">
        <div class="copyright-content py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <p class="copy-desc text-center">&copy; جميع الحقوق محفوظة ل<a href="#">طلاب</a> 2021</p>
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end copyright-content -->
    </section><!-- end footer-area -->
    <!-- ================================
              END FOOTER AREA
    ================================= -->
    <!-- template js files -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/waypoint.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/main-rtl.js"></script>
</body>
</html>