@{
    ViewBag.CurrentPageTitle = "تفعيل الحساب";
    var items = new string[] { "الرئيسية", "تفعيل الحساب" };
    ViewBag.MenuItems = items;
}

<div class="card card-item">
    <div class="card-body text-center">
        <div class="imgsucc">
            <img src="~/images/success.svg">
        </div>
        <h3 class="section__title pb-10px mt-3">تهانينا</h3>
        <p class="pb-30px">
            تم تفعيل حسابك وتستطيع البدء الان
            <br>
            قم الان بتخصيص حسابك واختيار اهتمامتك
        </p>
        <a href="/Interest/RegisterSection" class="btn theme-btn mb-2">اختر نشاطاتك  <i class="la la-arrow-right icon ml-1"></i></a>
    </div><!-- end card-body -->
</div><!-- end card -->