
@model TolabPortal.Models.RegisterInfo

@{
    ViewBag.CurrentPageTitle = "انشاء حساب جديد";
    var items = new string[] { "الرئيسية", "انشاء حساب جديد" };
    ViewBag.MenuItems = items;
}

<div class="card card-item">
    <div class="card-body">
        <form class="pt-2" method="post" asp-action="RegisterInfo" asp-controller="Home">
            <div class="input-box">
                <label class="label-text txtbold">اسمك بالكامل</label>
                <div class="form-group">
                    <input asp-for="Name" class="form-control form--control" type="text" required>
                    <span class="la la-user input-icon"></span>
                </div>
            </div><!-- end input-box -->
            <div class="input-box">
                <label class="label-text txtbold">البريد الإلكتروني</label>
                <div class="form-group">
                    <input asp-for="Email" class="form-control form--control" type="text" required>
                    <span class="la la-envelope input-icon"></span>
                </div>
            </div><!-- end input-box -->
            <div class="input-box">
                <label class="label-text txtbold"> النوع</label>
                <div class="form-group">
                    <input required asp-for="Gender" type="radio" name="gender" id="male" value="true"> ذكر <br />
                    <input required asp-for="Gender" type="radio" name="gender" id="female" value="false"> انثي <br />
                </div>
            </div><!-- end input-box -->
            <div class="input-box">
                <label class="label-text txtbold"> عن الشخص</label>
                <div class="form-group">
                    <input asp-for="Bio" class="form-control form--control" type="text">
                    <span class="la la-biohazard input-icon"></span>
                </div>
            </div><!-- end input-box -->
            <div class="btn-box">

                <button class="btn theme-btn pullone">اشتراك <i class="la la-arrow-right icon ml-1"></i></button>
            </div><!-- end btn-box -->
            <input asp-for="PhoneKey" value="@Model.PhoneKey" hidden />
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" hidden />
            <input asp-for="ConditionsAgree" value="@Model.ConditionsAgree" hidden />
        </form>
    </div><!-- end card-body -->
</div><!-- end card -->