
@{
    ViewBag.CurrentPageTitle = "الشروط والأحكام";
    var items = new string[] { "الرئيسية", "الشروط والأحكام" };
    ViewBag.MenuItems = items;
}

<div class="card card-item">
    <div class="card-body">
        <h2 class="card-title fs-18 pb-2">1. المعلومات التي نجمعها وكيف نستخدمها</h2>
        <div class="divider"><span></span></div>
        <h3 class="fs-16 font-weight-semi-bold pb-1">أ. معلومات الحساب:</h3>
        <p class="pb-3">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
        <h3 class="fs-16 font-weight-semi-bold pb-1">ب. المحتوى العام:</h3>
        <p class="pb-3">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
        <h3 class="fs-16 font-weight-semi-bold pb-1">ج. جهات الاتصال:</h3>
        <p class="pb-3">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
        <h3 class="fs-16 font-weight-semi-bold pb-1">د. مجال الاتصالات:</h3>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
    </div><!-- end card-body -->
</div><!-- end card -->
<div class="card card-item">
    <div class="card-body">
        <h2 class="card-title fs-18 pb-2">2. نماذج الاتصال</h2>
        <div class="divider"><span></span></div>
        <h3 class="fs-16 font-weight-semi-bold pb-1">نماذج الاتصال</h3>
        <p class="pb-3">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
        <h3 class="fs-16 font-weight-semi-bold pb-1">ب. محتوى مضمن من مواقع أخرى</h3>
        <p>هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. الهدف من استخدام لوريم إيبسوم هو أنه يحتوي على توزيع طبيعي -إلى حد ما- للأحرف ، بدلاً من استخدام "يوجد محتوى هنا ، يوجد محتوى هنا" ،</p>
    </div><!-- end card-body -->
</div><!-- end card -->
<div class="card card-item">
    <div class="card-body">
        <h2 class="card-title fs-18 pb-2">3. كيف نحمي معلوماتك</h2>
        <div class="divider"><span></span></div>
        <p class="pb-3">نعتمد ممارسات مناسبة لجمع البيانات وتخزينها ومعالجتها وتدابير أمنية للحماية من الوصول غير المصرح به أو التغيير أو الكشف أو إتلاف معلوماتك الشخصية واسم المستخدم وكلمة المرور ومعلومات المعاملات والبيانات المخزنة على موقعنا.</p>
        <p>يتم تبادل البيانات الحساسة والخاصة بين الموقع ومستخدميه عبر قناة اتصال مؤمنة SSL ويتم تشفيرها وحمايتها بالتوقيعات الرقمية. يتوافق موقعنا أيضًا مع معايير الضعف في PCI من أجل إنشاء بيئة آمنة قدر الإمكان للمستخدمين.</p>
    </div><!-- end card-body -->
</div><!-- end card -->
<div class="card card-item">
    <div class="card-body">
        <h2 class="card-title fs-18 pb-2">4. معلومات الاتصال الخاصة بك</h2>
        <div class="divider"><span></span></div>
        <p>إذا كان لديك حساب على هذا الموقع ، أو تركت تعليقات ، فيمكنك طلب الحصول على ملف مُصدَّر من البيانات الشخصية التي نحتفظ بها عنك ، بما في ذلك أي بيانات قدمتها إلينا. يمكنك أيضًا أن تطلب منا مسح أي بيانات شخصية نحتفظ بها عنك. هذا لا يشمل أي بيانات نحن ملزمون بالحفاظ عليها لأغراض إدارية أو قانونية أو أمنية.</p>
    </div><!-- end card-body -->
</div><!-- end card -->